<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Budget Planner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Expences</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Enter the Expences</ion-label>
              <ion-input
                type="text"
                [(ngModel)]="enteredexpences"
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Expense Account</ion-label>
              <ion-input
                type="number"
                value="0"
                [(ngModel)]="enteredammount"
                required
              ></ion-input>
            </ion-item>
            <div ion-margin-vertical ion-text-right>
              <ion-button fill="outline" color="danger" (click)="clear()"
                ><ion-icon slot="end" name="trash-outline"></ion-icon>clear
              </ion-button>

              <ion-button color="success" (click)="add()"
                ><ion-icon slot="end" name="add-outline"></ion-icon>Submit
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card></ion-col
      >
    </ion-row>
    <ion-row
      ><ion-col
        ><ion-list *ngFor="let ex of expencesreason"
          ><ion-item>
           Reason: {{ex}}
          </ion-item></ion-list
        ></ion-col
      ><ion-col>
        <ion-list *ngFor="let ex of expencesammount">
          <ion-item>Amount  :{{ex}}</ion-item></ion-list
        >
      </ion-col></ion-row
    >
  </ion-grid>
</ion-content>
